<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Lemme see your books!</h1>
    <p>

      <form action="/authors/<%= book.author.id%>/books/<%= book._id%>?_method=put" method="POST">
      <div>
         <label for="title">Title:</label>
         <input autofocus type="text" name="title" id="title" value = <%= book.title%>>
       </div>
       <div>
         <input type="submit" value="Update">
       </div>
      </form>
    </p>
</body>
</html>